<% include partials/header.ejs %>
<style>
  em {
    font-size: .9em;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Nightlife with Yelp</h1>
        <% if (user) { %>
          <p class="lead">Welcome <%= user.name %>, Search for bars near you.</p>
        <% } else { %>
          <p class="lead">Search for the nearest bars with Yelp.</p>
        <% } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form method="POST" action="/search" id="form">
        <div class="input-group input-group-lg">
          <span class="input-group-btn">
            <a class="btn btn-default" id="gps"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
          </span>
          <input type="text" class="form-control" placeholder="Search for..." id="location" name="location">
          <span class="input-group-btn">
            <input class="btn btn-default" type="submit" value="Go">
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
<% include partials/scripts.ejs %>
<% include partials/footer.ejs %>
