$grayish: #e6ecf0;
$gray: #acb1b4;
$blue: #83cbf7; // yelp red
$red: #bd1f1f;
$menuText: #66757f;
$whiteish: #fff;
$lightRed: #e2d1d1;

body {
	background-color: $grayish;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.backdrop {
	background: url('http://res.cloudinary.com/dd6kwd0zn/image/upload/v1502416697/bars_gqifly.jpg') center center no-repeat;
	background-size: cover;
	height: 800px;
	width: 100%;
}

h1 {
	font-weight: bold;
	color: black;
}

.hidden {
	display: none;
}

.logo {
	font-family: 'Pacifico', cursive;
	.whiteish {
		color: $whiteish;
	}
	.darkish {
		color: $blue !important;
	}
}

.logo-white {
	color: $whiteish;
}

.dark-btn {
	color: white;
	background-color: $red;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid $lightRed;
	:hover {
		color: black;
		background-color: $lightRed !important;
	}
}

.light-btn {
	background-color: $lightRed !important;
	border: 1px solid $red;
	color: black;
	margin-left: 10px;
}

.navbar {
	background-color: $red;
	color: $whiteish;
	border-radius: 0;
	border: 0;
	li a:hover, .active {
		color: $whiteish;
		padding-bottom: 12px;
		border-bottom: 3px solid $lightRed;
	}
	.navbar-brand, li a {
		color: $whiteish !important;
	}
}

.well {
	background-color: $whiteish;
}

.jumbotron {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bd1f1f+0,bc6e20+50,ba7c1f+100 */
background: #bd1f1f; /* Old browsers */
background: -moz-linear-gradient(left, #bd1f1f 0%, #bc6e20 50%, #ba7c1f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #bd1f1f 0%,#bc6e20 50%,#ba7c1f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #bd1f1f 0%,#bc6e20 50%,#ba7c1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd1f1f', endColorstr='#ba7c1f',GradientType=1 ); /* IE6-9 */
	h1, p {
		color: white;
	}
	h1 {
		letter-spacing: -2px;
	}
}

.panel-default>.panel-heading {
	background-color: $red;
	color: white;
}


.fa-twitter {
	color: $blue;
}

.btn {
	margin-right: 10px;
	border-radius: 100px;
}

.btn-twitter {
	background-color: $blue;
	color: $whiteish;
	border: 1px solid $blue;
}

.thumbnail {
	max-height: 100px;
}

.list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.list-group-item:hover {
	background-color: lighten($blue, 10%);
	color: white;
	text-decoration: none;
}

.panel-title {
	display: inline;
}

a:hover {
	text-decoration: none;
}

.footer {
	min-height: 200px;
	display: table;
	position: relative;
	width: 100%;
	#copyright {
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.navbar-default .navbar-toggle {
  border-color: rgba(0,0,0,0);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: rgba(0,0,0,0);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $blue;
}

/* Tooltip container */
.tool-tip {
    position: relative;
}

.tool-btn {
	display: inline-block;
}

/* Tooltip text */
.tool-tip .tool-tip-text {
    visibility: hidden;
    // width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
		top: 100%;
		left: 50%;
		margin-left: 30px;
    z-index: 5;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool-tip:hover .tool-tip-text {
    visibility: visible;
}

 // Spinner CSS
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
	margin-left: auto;
	margin-right: auto;
  animation: spin 1s linear infinite;
}

.flexthis.container:before,
.flexthis.container:after,
.flexthis.row:before,
.flexthis.row:after {
   content: normal; // IE doesn't support `initial`
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width:480px) {
	h3 {
		font-size: 1em;
	}
}
