body {
  background-color: #e6ecf0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; }

.backdrop {
  background: url("http://res.cloudinary.com/dd6kwd0zn/image/upload/v1502416697/bars_gqifly.jpg") center center no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%; }

h1 {
  font-weight: bold;
  color: black; }

.hidden {
  display: none; }

.logo {
  font-family: 'Pacifico', cursive; }
  .logo .whiteish {
    color: #fff; }
  .logo .darkish {
    color: #83cbf7 !important; }

.logo-white {
  color: #fff; }

.dark-btn {
  color: white;
  background-color: #bd1f1f;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #e2d1d1; }
  .dark-btn :hover {
    color: black;
    background-color: #e2d1d1 !important; }

.light-btn {
  background-color: #e2d1d1 !important;
  border: 1px solid #bd1f1f;
  color: black;
  margin-left: 10px; }

.navbar {
  background-color: #bd1f1f;
  color: #fff;
  border-radius: 0;
  border: 0; }
  .navbar li a:hover, .navbar .active {
    color: #fff;
    padding-bottom: 12px;
    border-bottom: 3px solid #e2d1d1; }
  .navbar .navbar-brand, .navbar li a {
    color: #fff !important; }

.well {
  background-color: #fff; }

.jumbotron {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bd1f1f+0,bc6e20+50,ba7c1f+100 */
  background: #bd1f1f;
  /* Old browsers */
  background: -moz-linear-gradient(left, #bd1f1f 0%, #bc6e20 50%, #ba7c1f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #bd1f1f 0%, #bc6e20 50%, #ba7c1f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #bd1f1f 0%, #bc6e20 50%, #ba7c1f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd1f1f', endColorstr='#ba7c1f',GradientType=1 );
  /* IE6-9 */ }
  .jumbotron h1, .jumbotron p {
    color: white; }
  .jumbotron h1 {
    letter-spacing: -2px; }

.panel-default > .panel-heading {
  background-color: #bd1f1f;
  color: white; }

.fa-twitter {
  color: #83cbf7; }

.btn {
  margin-right: 10px;
  border-radius: 100px; }

.btn-twitter {
  background-color: #83cbf7;
  color: #fff;
  border: 1px solid #83cbf7; }

.thumbnail {
  max-height: 100px; }

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.list-group-item:hover {
  background-color: #b3dffa;
  color: white;
  text-decoration: none; }

.panel-title {
  display: inline; }

a:hover {
  text-decoration: none; }

.footer {
  min-height: 200px;
  display: table;
  position: relative;
  width: 100%; }
  .footer #copyright {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #83cbf7; }

/* Tooltip container */
.tool-tip {
  position: relative; }

.tool-btn {
  display: inline-block; }

/* Tooltip text */
.tool-tip .tool-tip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 30px;
  z-index: 5; }

/* Show the tooltip text when you mouse over the tooltip container */
.tool-tip:hover .tool-tip-text {
  visibility: visible; }

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 1s linear infinite; }

.flexthis.container:before,
.flexthis.container:after,
.flexthis.row:before,
.flexthis.row:after {
  content: normal; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@media screen and (max-width: 480px) {
  h3 {
    font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
